/* ==========================================================================
   THEME TOKENS / GLOBAL COLOR VARIABLES
   ========================================================================== */

/* :root {
  --gradient-accent-1: 153 18% 92%;
  --gradient-accent-2: 153 18% 72%;
  --gradient-accent-3: 195 14% 45%;
  --gradient-accent-4: 153 8% 36%;
}

.dark {
  --gradient-accent-1: 153 8% 18%;
  --gradient-accent-2: 153 18% 28%;
  --gradient-accent-3: 195 14% 25%;
  --gradient-accent-4: 153 18% 42%;
} */


.group {
  background-color: initial;
  border-radius: 26px;
}

/* ==========================================================================
   BACKGROUND GRADIENTS
   ========================================================================== */

.hbx-bg-gradient {
  position: relative;
  z-index: 1;
}

/* .hbx-bg-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image:
    radial-gradient(at 20% 25%, hsla(var(--gradient-accent-1) /.45) 0px, transparent 50%),
    radial-gradient(at 75% 30%, hsla(var(--gradient-accent-2) /.45) 0px, transparent 50%),
    radial-gradient(at 5% 60%, hsla(var(--gradient-accent-4) /.25) 0px, transparent 50%),
    radial-gradient(at 5% 85%, hsla(var(--gradient-accent-3) /.45) 0px, transparent 50%);
} */